/node_modules
/public/js/chunks/[0-9]+.js
/public/*.js
/public/hot
/public/storage
/public/js
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
